PORT=3000
GITLAB_BASE=https://git.forvestlab.ir/api/v4
GITLAB_TOKEN=glpat-eXMwLsHaEao48Gsw5gwN
ALLOW_ORIGINS=https://gitlabreport.forvestlab.ir,http://localhost:5173,http://localhost:3000
UPSTREAM_TIMEOUT_MS=15000
LOG_BODY=1


