GITLAB_BASE_URL= https://git.forvestlab.ir/api/v4
GITLAB_PROJECT_ID=91
GITLAB_TOKEN=
PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=forvest_git
originsCors=https://gitlabreport.forvestlab.ir
adminUser=master
JWT_SECRET=fsdfsdgsdfsada
DEV_MODE=false

W_REALNESS=0.5
W_QUALITY=0.3
W_ABSENCE=0.2
MIN_HOURS=7
MAX_HOURS=8
OVERWORK_SOFT_HOURS=9
FAKE_SPEND_HOURS=5
TZ_OFFSET_MINUTES=0
ACTIVITY_NOTES_CONCURRENCY=10
