# Backend service env example
PORT=3001
HOST=0.0.0.0
GITLAB_BASE=https://gitlab.com/api/v4
GITLAB_TOKEN=YOUR_GITLAB_TOKEN
ALLOW_ORIGINS=https://gitlabreport.forvestlab.ir,http://localhost:5173
UPSTREAM_TIMEOUT_MS=15000
LOG_BODY=0
